<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" media="screen" href="../css/styles.css")
        title Home Page
    body
        header
            div(class="container")
                a(class="logo" href="/home" title="Babbelen")
                    img(id="headerLogo" src="../images/logo.png" title="Babbelen")
        div(id="content")
            form(action="/customers" method="get" id="editOrder")
                h4 Customer Mobile Number
                input(type="number" name="mobileNumber")
                input(type="hidden" name="mode" value="edit")
                br
                button(onclick='document.getElementById("editOrder").submit();') Edit Customer Data
                br
        footer
            br
            span(class="author") Author: GuruVi
            br
            span(class="copyrights") Babbellen &copy;All Rights reserved.