<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" media="screen" href="../css/styles.css")
        title Home Page
    body
        header
            div(class="container")
                a(class="logo" title="Babbelen")
                    img(id="headerLogo" src="../images/logo.png" title="Babbelen")
        div(id="content")
            ul 
                li
                    a(href="/orders") Create Order
                li
                    a(href="/orders/edit") Edit Order
                li
                    a(href=`/shop`)  Edit Shop Details
                li
                    a(href="/customers") Add Customer Details
                li
                    a(href="/editCustomers") Edit Customer Details
                li
                    a(href="/orders/numberchangeForm") Change order number
                li
                    a(href="/orders/printForm") Print Order
                li
                    a(href="/orders/reportForm") Generate Reports