<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" media="screen" href="../css/styles.css")
        title Home Page
    body
        header
            div(class="container")
                a(class="logo" href="/home" title="Babbelen")
                    img(id="headerLogo" src="../images/logo.png" title="Babbelen")
        div(id="content")
            form(action="/orders/print" method="GET" id="printOrder")
                h4 Bill Year
                <select name="billYear" id="billYear">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                </select>
                
                h4 Order Number
                input(type="number" name="orderNumber")
                br
                button(onclick='document.getElementById("printOrder").submit();') Print Order
                br
        footer
            br
            span(class="author") Author: GuruVi
            br
            span(class="copyrights") Babbellen &copy;All Rights reserved.
