h4 HSN
input(type="text" name="hsn")
h4 Product Name
input(type="text" name="productName")
h4 Qty
input(type="text" name="qty")
h4 Rate
input(type="text" name="rate")
h4 GST Percent
input(type="text" name="qty" value="18")
h4 SGST amount
input(type="text" name="sgstAmount")
h4 CGST amount
input(type="text" name="cgstAmount")
h4 total
input(type="text" name="total")
